<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="robots" content="noindex">
  <title>チェックシート</title>
  
  <link rel="stylesheet" href="https://unpkg.com/onsenui@2.9.2/css/onsenui.min.css">
  <link rel="stylesheet" href="https://unpkg.com/onsenui@2.9.2/css/onsen-css-components.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="manifest" href="manifest.json">
  <link rel="apple-touch-icon" href="app-icon-192.png" sizes="192x192"/>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://unpkg.com/onsenui@2.9.2/js/onsenui.min.js"></script>
  <script src="https://unpkg.com/onsenui@2.9.2/js/angular-onsenui.min.js"></script>
  <script src="https://unpkg.com/dexie@2.0.3/dist/dexie.js"></script>
  <script src="js/main.js"></script>
</head>
<body>
  <ons-navigator var="navi" page="home.html">
  </ons-navigator>
    
  <ons-template id="home.html">
    <ons-page ng-controller="HomeController as home">
      <ons-toolbar>
        <div class="center">チェックシート</div>
        <div class="right" style="padding-right: 10px;">
          <ons-toolbar-button ng-click="home.getPicture()">写真を追加</ons-toolbar-button>
        </div>
      </ons-toolbar>

      <section style="padding: 20px 0;">
        <ul class="gallery">
          <li ng-repeat="item in home.store.items track by item.id" ng-click="home.loadPicture($index)">
            <img ng-src="{{ item.url }}" alt="">
          </li>
        </ul>
      </section>
    </ons-page>
  </ons-template>

  <ons-template id="edit.html">
    <ons-page ng-controller="EditController as edit">
      <ons-toolbar>
        <div class="left">
          <ons-back-button>戻る</ons-back-button>
        </div>
        <div class="right">
          <ons-toolbar-button ng-click="edit.destroy()">削除</ons-toolbar-button>
        </div>
      </ons-toolbar>

      <section class="edit">
        <div class="edit__inner" id="edit__inner" ng-click="edit.put($event)">
          <img ng-src="{{ edit.store.item.url }}" alt="" class="edit__img">
          <div class="edit__mark"
            ng-repeat="p in edit.store.item.positions track by $index"
            ng-style="{ top: p.top + '%', left: p.left + '%' }"
            ng-click="edit.remove($event, $index)">&#10004;</div>
        </div>
      </section>
    </ons-page>
  </ons-template>

</body>
</html>
